@font-face {
  font-family: "Inter-Regular";
  src: url("../fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Light';
  src: url("../fonts/Inter/Inter-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Bold';
  src: url("../fonts/Inter/Inter-Bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-SemiBold';
  src: url("../fonts/Inter/Inter-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-Thin';
  src: url("../fonts/Inter/Inter-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Inter-ExtraBold';
  src: url("../fonts/Inter/Inter-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: Hel;
  src: url("../fonts/helveticaneue.ttf") format("truetype");
}

@font-face {
  font-family: HelMedium;
  src: url("../fonts/helveticaneuemedium.ttf") format("truetype"); 
}

@font-face {
  font-family: HelBold;
  src: url("../fonts/helveticaneuebold.ttf") format("truetype"); 
}

@font-face {
  font-family: SFPro;
  src: url("../fonts/SFPro-Regular.ttf") format("truetype"); 
}

@font-face {
  font-family: SFProMedium;
  src: url("../fonts/SFPro-Medium.ttf") format("truetype"); 
}

@font-face {
  font-family: SFProBold;
  src: url("../fonts/SFPro-Bold.ttf") format("truetype"); 
}
